:root {
  --color-add: #1a73ed;
  --color-add-bg-hover: #f2f7fe;
  --color-add-bg-active: #edf4fd;
  --color-header: #fafafa;
  --color-selected-bg: #ebebeb;
}

.header-row {
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-header);
}

.project-row {
  display: flex;
  padding: 10px 10px 10px 0;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
}

.project-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.project-right {
  display: flex;
  justify-content: flex-end;
}

.project-button {
  display: flex;
  min-width: 32px;
  align-items: center;
  justify-content: space-around;
}

.project-name {
  font-family: 'Courier New', Courier, monospace;
  padding-right: 10px;
}

.project-value {
  font-size: 1rem;
}

.project-plus {
  cursor: pointer;
}

.project-add-row {  
  display: flex;
  padding: 10px 10px 10px 0;
  align-items: center;
  justify-content: space-between;
  color: var(--color-add);
  cursor: pointer;
}

.project-add-row:hover {
  background-color: var(--color-add-bg-hover);
}

.project-add-row:active {
  background-color: var(--color-add-bg-active);
}

.project-row:hover {
  background-color: var(--color-selected-bg);
}

.project-selected {
  background-color: var(--color-selected-bg);
}

.project-bold {
  font-weight: bold;
}

.right-border {
  border-right: 1px solid var(--color-selected-bg);
}