:root {
  --color-add: #1a73ed;
  --color-add-bg-hover: #f2f7fe;
  --color-add-bg-active: #edf4fd;
  --color-header: #fafafa;
  --color-selected-bg: #ebebeb;
  --color-boder: #e0e0e0;
  --rounded-border-size: 6px;
}

.db-header-row {
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-header);
  border-bottom: 1px solid var(--color-boder);
}

.db-row {
  display: flex;
  padding: 10px 10px 10px 0;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
}

.db-row:hover {
  background-color: var(--color-selected-bg);
}

.db-left-col {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.db-button {
  display: flex;
  min-width: 32px;
  align-items: center;
  justify-content: space-around;
}

.db-name {
  font-family: 'Courier New', Courier, monospace;
  padding-right: 10px;
}

.db-add-row {  
  padding: 10px 10px 10px 0;
  color: var(--color-add);
  cursor: pointer;
}

.db-add-row:hover {
  background-color: var(--color-add-bg-hover);
}

.db-add-row:active {
  background-color: var(--color-add-bg-active);
}

.db-selected {
  background-color: var(--color-selected-bg);
}

.db-bold {
  font-weight: bold;
}

.db-right-border {
  border-right: 1px solid var(--color-boder);
}

.db-icon-and-text span {
  padding-left: 4px;
}

.db-upper-left-corner {
  border-top-left-radius: var(--rounded-border-size);
}

.db-upper-right-corner {
  border-top-right-radius: var(--rounded-border-size);
}